body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.header-content input, .header-content button, .header-content select {
    padding: 8px;
    margin-top: 10px;
}

.jobs-container {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.job {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 30%; 
}
